html, body{
    height: 100%;
    width: 100%;
}

.navbar {
    background-color:whitesmoke;
    padding: 1% 0;
    font-size: 1.2em;
}

/*logo photo*/
.navbar-brand{
    min-height:55px;
    padding:0 15px 5px;
}
/*navbar links*/
.navbar-default .navbar-nav li a {
    color:#D5D5D5;
}
/*hovering on the navbar */
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active{
    color:black;
}

#home{
    background: url(images/flowers.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width:100%;
    background-size: cover;
    padding-top: 50px;
}

.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.landing-text h1{
    font-size:500%;
    font-weight:700;
}

/*padding div classes*/
.padding{
    padding: 80px 0;
}
.padding img {
    width: 100%;
}
#fixed{
    background: url(images/flowers.jpg) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width:100%;
    background-size: cover;
}

footer{
    width: 100%;
    background-color:whitesmoke;
    padding: 5% 5% 10% 5%;
    color:black;
}

.fa {
    padding: 15px;
    font-size: 25px;
    color:slategray;
}
.fa:hover {
    color: black;
    text-decoration: none;
}

.icon{
    max-width: 300px;
    border-radius:15px;
}







/*Mobile friendly css code... just playing around but...*/
@media(max-width: 768px){
    .landing-text h1{
        font-size: 300%;
    }
    .fa {
        font-size: 20px;
        padding: 10px;
    }
    .icon{
        padding-top:5%;
        max-width:100px;
    }
}
/*JSCODE DELETE IF BROKEN*/
body {
    background-color:snow;
    text-align: center;
    color:plum;
    padding-top:10em;
  }
  
  * { color:plum; text-decoration: none;}
/*END OF JSCODE*/

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">







/*
p{
    text-align:center;
    color:slategray;
}

.container{
    width:80%;
    margin:auto;
}
.box-1{
    background-color:slategray;
    color:whitesmoke;
    border: 8px yellowgreen dotted;
    padding:15px;
    margin-top:30px 0;
    text-align:center;
    text-transform:uppercase;
    border-radius:15px;
}

#occupation {
    text-align=center;
    color:yellowgreen;
    font-weight:bold;
    text-transform:uppercase;
    font-size:24;
    font-family:"Comic Sans MS", cursive, sans-serif;
}

.box-2 h1{
    font-family:'Verdana,' 'Geneva,' 'Tahoma,' 'sans-serif';
    color:darkcyan;
    border:3px dotted black;
    padding:20px;
    margin:20px;
    background-color:plum;
    opacity:0.4;
    font-size:20px;
    text-align:center;
}

.box-3 h1{
    font-family:'Marker felt,' 'Fantasy';
    color:slategrey;
    border:none;
    text-align:center;
}

#aspiring{
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size:30px;
    color:rgba(255, 166, 0, 0.783);
    padding-top:15px;
    padding-bottom:2px;
}

#coolfact {
    font-size:18px;
    color:dimgray;
}

.box-4 h1{
    color:darkcyan;
    padding-top:15px;
    text-align:center;
}

.categoriesFirst {
    color:dimgray;
    text-align:center;
    font-size:14px;
}

.categoriesFirst h2{
    text-align:center;
}

.categoriesFirst ul{
    padding:0;
    list-style:none;
    margin:10px;
}

.categoriesFirst li{
    padding-bottom:8px;
    line-height:0.8em;

}




.categories1 {
    color:dimgray;
    text-align:center;
    font-size:14px;
}

.categories1 h2{
    text-align:center;
}

.categories1 ul{
    padding:0;
    list-style:none;
    margin:10px;
}

.categories1 li{
    padding-bottom:8px;
    line-height:0.8em;

}

.categories2 {
    color:dimgray;
    text-align:center;
    font-size:14px;
}

.categories2 h2{
    text-align:center;
}

.categories2 ul{
    padding:0;
    list-style:none;
    margin:10px;
}

.categories2 li{
    padding-bottom:8px;
    line-height:0.8em;

}

.categories3 {
    color:dimgray;
    text-align:center;
    font-size:14px;
}

.categories3 h2{
    text-align:center;
}

.categories3 ul{
    padding:0;
    list-style:none;
    margin:10px;
}

.categories3 li{
    padding-bottom:8px;
    line-height:0.8em;
}

.categories4 {
    color:dimgray;
    text-align:center;
    font-size:14px;
}

.categories4 h2{
    text-align:center;
}

.categories4 ul{
    padding:0;
    list-style:none;
    margin:10px;
}

.categories4 li{
    padding-bottom:8px;
    line-height:0.8em;
}

.box-5 h1{
    color:brown;
    text-align:center;
    padding:12px;
    font-size:22px;
}

.Schools{
    line-height:0.8em;
    padding-bottom:10px;
}


a{
    padding:3px;
    text-decoration: none;
    color: black;
    border:2px solid teal;
    margin:20px;
    line-height: 2.6em;
    border-radius:15px;
    margin-left:200px; 
    
}

a:hover{
    color:salmon;
}

a:active{
    color:purple;
}

a:visited{
    color:maroon;
}

img {
    border-radius: 15px;
}

.box-6{
    padding:20px;
    font-style:'Arial Narrow,' 'sans-serif';
    color:darkblue;
    opacity: 0.4;
    border: 4px black solid;
    border-radius:15px;
    margin-right:30px;
    margin-left:30px;
    font-size: 20px;
    text-align: center;
}


.success {
    color: white;
    background-color: darkslategrey
}

.success:hover {
    background-color: plum;
    color: white;
}
*/

